body {
  font: normal 16px sans-serif;
}

.iconDiv {
  align-items: center;
  display: flex;
  height: 32px;
  overflow: hidden;
  width: 100%;
}

.iconDiv img {
  margin: 0 1ex;
}

.iconDiv img.icon16 {
  height: 16px;
  width: 16px;
}

.iconDiv img.icon32 {
  height: 32px;
  width: 32px;
}

.iconDiv a {
  margin: 0 1ex;
}
