body {
  font: normal 16px sans-serif;
}

a {
  text-decoration: none;
}

input {
  /* Prevent mobile Safari auto-zoom */
  font-size: 16px;
}

.iconDiv {
  align-items: center;
  display: flex;
  /* Use fixed height for fast layout calculation */
  height: 40px;
  overflow: hidden;
}

.iconDiv img {
  flex-shrink: 0;
  margin-right: 1ex;
}

.iconDiv img.icon16 {
  height: 16px;
  width: 16px;
}

.iconDiv img.icon32 {
  height: 32px;
  width: 32px;
}

.iconDiv a {
  font-size: smaller;
  margin-left: 1ex;
  text-align: center;
  white-space: pre;
}
